{% extends 'base2.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><h2>Best Fitted Crops Recommendation System Application</h2></center>
            </div>
            <center><p class="article-title">This application will assess the current health of the soil, 
                recommend the best-fitted crops based on the input parameters, 
                and map the best-fitted crops in different locations. 
                The method includes inputting the current soil health data, 
                running the data through the recommendation model, 
                and displaying the output in a dashboard.</center>
        </div>
    </article>
{% endblock content %}