{% extends 'base2.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <center><h2>Philippine Crop Production</h2></center>
        </div>
        <div class="wrapper">
            <div class="container d-flex flex-column">
                <div class="title text-center">
                    <center><div class="chartBox" style="text-align: center;">
                        <canvas id="cropChart" style="width: 370px; height: 100%;"></canvas>
                    </div></center>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    {% for i in range(total_len): %}
                        <label type="hidden" id="crop_{{i}}" name="{{crops[i]}}"></label>
                        <label type="hidden" id="value_{{i}}" name={{values[i]}}></label>
                        <label type="hidden" id="bkg_{{i}}" name="{{bkg[i]}}"></label>
                        <label type="hidden" id="brd_{{i}}" name="{{brd[i]}}"></label>
                    {% endfor %}
                    <input type="hidden" id="total" value={{total_len}}>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock content %}