{% extends 'base2.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <center><h2>Recent Recommendations</h2></center>
        </div>
        <div class="wrapper">
            <div class="container d-flex flex-column">
                <script>
                    $(document).ready(function(){
                        $('.search').on('keyup',function(){
                            var searchTerm = $(this).val().toLowerCase();
                            $('#userTbl tbody tr').each(function(){
                                var lineStr = $(this).text().toLowerCase();
                                if(lineStr.indexOf(searchTerm) === -1){
                                    $(this).hide();
                                }else{
                                    $(this).show();
                                }
                            });
                        });
                    });
                </script>
                <div class="form-group pull-left">
                    <input type="text" class="search form-control" placeholder="Search for Device Number ...">
                </div>
                <table class="table" id="userTbl">
                    <thead>
                        <tr class="table-info">
                            <th style="width:20%"><center>Date</center></th>
                            <th style="width:20%"><center>Device Number</center></th>
                            <th style="width:20%"><center>Recommended Crop</center></th>
                            <th style="width:10%"><center>Nitrogen</center></th>
                            <th style="width:10%"><center>Phosporous</center></th>
                            <th style="width:10%"><center>Potassium</center></th>
                            <th style="width:10%"><center>pH Level</center></th>
                        </tr>
                    </thead>
                    {% for info in data %}
                    <tbody>
                        <tr>
                           <td><center>{{info.date}}</center></td>
                           <td><center>{{info.device_number}}</center></td>
                           <td><center>{{info.recommended}}</center></td>
                           <td><center>{{info.nitrogen_content}}</center></td>
                           <td><center>{{info.phosphorous_content}}</center></td>
                           <td><center>{{info.potassium_content}}</center></td>
                           <td><center>{{info.ph_level_content}}</center></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</article>
{% endblock content %}